@import "../../styles/utils.scss";
.main-content {
  padding: pxToRem(16px);

  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: pxToRem(100px) pxToRem(80px);
    margin-bottom: pxToRem(16px);
    text-align: center;
  }

  h2 {
    margin-top: pxToRem(16px);
  }

  p {
    margin-bottom: pxToRem(16px);
  }
}
