@import "../../scss/utils.scss";
.receta {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 100%;
    padding: pxToRem(100px) pxToRem(80px);
    margin-bottom: pxToRem(16px);
    text-align: center;
  }

  h2 {
    text-align: center;
  }
  h5{
    text-align: center;
  }
  p {
    text-align: center;
  }

  button{
    background-color: rgb(55, 125, 206);
    padding: 16px;

  }
}
